#main-logo {
    width: 1.5in;
}

.social-icons-container {
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.social-icons {
    width: 0.5in;
}

.trail-main-heading {
    width: 60%;
}

.granite-access-btn-container,
.general-store-container {
    display: flex;
    justify-content: center;
}

.granite-access-btn {
    width: 20%;
}

.general-store {
    width: 60%;
}

.user-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-wallet {
    font-weight: bold;
    font-size: 28px;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.single-item-img {
  width: 300px;
}

.single-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.login-page {
  margin: 50px 0;
}

.claim {
  width: 100px;
  height: 60px;
  color: white;
  margin-top: 5px;
}

.enable {
  background-color: green;
}

.disable {
  background-color: grey;
}



/* New Styling Starts here */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
  font-family: 'Russo One', sans-serif;
}

body {
  background: #1CABD8;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.currency-box {
  border-radius: 10px;
  background: #356431;
  display: flex;
  padding: 2px 10px;
  justify-content: space-between;
  align-items: center;
}

.currency-value {
  color: #E8C304;
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  margin-top: 2px;
}

.currency-icon {
  width: 25px;
  height: 25px;
}

.currency-value,
.currency-icon {
  margin-left: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin: 0 10px;
  font-family: 'Russo One', sans-serif;
  color: #fff;
  font-size: 24px;
}

.trail-main-heading-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.trail-main-left {
  position: relative;
}

.meta-mountain-logo {
  position: absolute;
  right: 0;
  width: 160px;
  height: 43px;

}

.mountain-gif {
  width: 40%;
}

.main-heading {
  font-size: 60px;
  width: 100px;
  font-weight: 400;
  line-height: 55px;
}

.main-heading,
.main-description {
  color: #fff;
}